<html>
  <head>
    <title>Pwinty Test</title>
    <%= stylesheet_tag('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity: 'sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==') %>
  </head>
  <body>
    <div style="margin-top: 100px"></div>

    <div class="container">
      <h1>Pwinty Test</h1>
    </div>

    <div style="margin-top: 30px"></div>

    <div class="container">
      <form role="form" class="form-large" action="/login" method="post">
          <div class="input-group form-wide">
            <input class="form-control" type="url" name="shop" placeholder="Shop URL">
            <span class="input-group-btn">
              <input class="btn" type="submit" value="Login" />
            </span>
          </div>
      </form>
    </div>
  </body>
</html>
